APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

MINESTATS_PUBLIC=true
MINESTATS_PING_MODE=cron
MINESTATS_PING_INTERVAL=5
MINESTATS_FAVICON_CACHE=60
MINESTATS_VERSIONS_CACHE=60
MINESTATS_UI_PING_INTERVAL=5500
MINESTATS_UI_GRAPH_PERIOD=300
