// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

@import "app/general";
@import "app/header";
@import "app/servers-list";