.content-margin-top {
  margin-top: 15px;
}

/*
 * Allow highchart tooltip to display out of chart container
 */
.highcharts-container, .highcharts-container svg {
  overflow: visible !important;
}

.highcharts-container .highcharts-tooltip {
  background-color: #fff;
}