.confirm-submit {
  display: none;
}

/*
 * Allow highchart tooltip to display out of chart container
 */
.highcharts-container, .highcharts-container svg {
  overflow: visible !important;
}

.highcharts-container .highcharts-tooltip {
  background-color: #fff;
}

.popover-container {
  position: relative;

  .popover-actions {
    display: none;
    position: absolute;
    bottom: 1px;
    left: 0;
    opacity: 0.8;
  }

  .popover-actions:hover {
    opacity: 1;
  }
}

.popover-container:hover {
  .popover-actions {
    display: block;
  }
}