body {
  margin-top: 50px;
}

#header {
  background: #343535;
  color: #FFFFFF;
  margin: 0;
  border-bottom: 0;

  .navbar-brand {
    display: inline-block;
    padding: 11px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #FFFFFF;
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

.heading {
  background: #FFF;
  border-bottom: 2px solid #343535;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, .77);

  .container {
    display: flex;
    align-items: center;
  }

  .title {
    flex: 1;
    h1 {
      font-family: Raleway, sans-serif;
      font-weight: 300;
      margin: 12px 0;
      padding: 0;

      .btn {
        margin-top: -9px;
      }
    }
  }

  .breadcrumb {
    margin: -8px 0 8px;
    padding: 0;
    background: transparent;
    font-size: 0.9em;
  }

  .actions {

  }
}